.heading{
    padding: 10px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:all 0.5s ease;
    transition: all 0.5s ease;
    /* border-bottom: 1px solid var(--border-col); */
    box-shadow: var(--shadow);
    background-color:var(--bg-container);


    
}
.heading-home{
    box-shadow: none;
    border: none;
    padding: 50px 17% 50px;
    background: transparent;
    z-index: 1000;
}

.logo{
    color:var(--text-color);
    font-size: 33px;
    font-weight: 700;
}
.logo-diff{
    color:var(--primary-col);
}

.navbar{
    display: flex;
    
}

.navbar li{
    font-size: var(--text-size);
    font-weight: 500;
    margin: 15px 22px;
    transition: all 0.5s ease;
}
.navbar li:hover{
    color: var(--primary-col);
}

.right-float{
    display: flex;
    align-items: center;
}
.right-float li{
    margin: 0 10px;
    font-size: var(--text-size);
    transition: all 0.5s ease;
    vertical-align: middle;
    transition: all 0.5s ease;
}

.right-float li:hover{
    color: var(--primary-col);
    transform: translateY(-5px);
}
.right-float .user-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-float .user-container .user-name{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
 .loggedin-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.loggedin-container span{
    color: var(--text-color);
    margin: 0 5px;
    transition: all 0.5s ease;
}
.loggedin-container span:hover{
    color: var(--primary-col);
    cursor: pointer;
}


.menu-bar svg{
    height: 30px;
    cursor: pointer;
    z-index: 1001;
    display:none;
    
}