.dashboard-container {
    color: white;
    overflow: hidden;
    padding: 0 17%;
    position:relative;
    height: 100%;
    width:100%;
    transition: all 0.5s ease;
    margin: 15px 0;
    display: flex;
}
.dashboard-toolbar{
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--bg-container);
    border-radius: 5px;
}

.dashboard-toolbar-title{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: var(--primary-col);
    text-align: center;
    border-bottom: 1px solid var(--border-col);
}
.dashboard-display-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-weight: 700;
    margin-left: 15px;
    
}
.dashboard-toolbar .toolbar-title{
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    color:var(--primary-col);
}
.dashboard-toolbar .toolbar-item{
    font-size: 14px;
    font-weight: 500;
    padding: 0 25px;
    padding-bottom: 15px;
    color: rgb(174, 174, 174);
    cursor: pointer;
    transition: all 0.5s ease;
}
.dashboard-toolbar .toolbar-item:hover{
    color: whitesmoke;
}
.dashboard-title{
    background-color: var(--bg-container);
    border-radius: 5px;

}

.dashboard-title h1{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: var(--primary-col);
    padding: 10px;
    border-bottom: 1px solid var(--border-col);
}
.dashboard-title .title-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}
.dashboard-title .title-links label{
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    color: var(--primary-col);
    cursor: pointer;
    transition: all 0.5s ease;
}
.dashboard-title .title-links select{
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    color: var(--primary-col);
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    background-color: rgba(35, 35, 36, 0.758);
    
}
.dashboard-title .title-links option{
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    color: var(--primary-col);
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    background-color: transparent;
}
.addrecord-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    font-size: 12px;
    font-weight: 400;
}
.addrecord-button {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-col);
    transition: all 0.5s ease;
}
.addrecord-button:hover{
    color: whitesmoke;
}   
.addrecord-button svg{
    margin-right: 2px;
    height: 20px;
}
