.carpage-container{
    color: white;
    overflow: hidden;
    padding: 0 17%;
    position:relative;
    height: 100%;
    width:100%;
    transition: all 0.5s ease;
    margin-top: 15px;

    
}
.toolbar-container{
    overflow: auto;    
    width: 250px;
    flex-shrink: 0;
    transition: all 0.5s ease;
}

.display-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.search-container{
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    margin-left: 15px;
}
.search-container div{
    margin: auto;
    width: fit-content;
}
.search-container input{
    width: 300px;
    height: 35px;
    border: 1px solid var(--primary-col);
    background-color: transparent;
    outline: none;
    color: rgb(156, 151, 151);
    font-size: 12px;
    font-weight: 300;
    padding: 0 20px;
    margin: 10px auto;
    border-radius: 20px;
}
.display-container{
    position: relative;
    margin-left: 15px;
}
.display-item-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: all 0.5s ease;
    overflow: auto;

}

.display-page-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:15px;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 500;
}
.car-card-img{
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}
.display-page-count .item-left{
    color: var(--primary-col);
}
.display-page-count button{
    font-size: 16px;
    background-color: var(--primary-col);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 2px 15px;
    margin-left: 10px;
    border-radius: 5px;
}
.selected-car-container{
    position: absolute;
    background-color: rgb(18, 14, 23);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    overflow: auto;
    transition: all 0.5s ease;
    z-index: 1;
    margin-right: 17%;
}
.selected-car-container .close button{
    border: none;
    outline: none;
    color: var(--primary-col);
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
    float: right;
    margin: 10px;
}

.car-extended-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}
.car-extended-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.car-extended-image{
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
}
.car-extended-image img{
    width: 100%;
    object-fit: cover;
}
.car-extended-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.car-extended-title{
    font-size: 30px;
    font-weight: 500;
    color: var(--primary-col);
    margin-bottom: 10px;
}
.car-extended-title h4{
    font-size: 20px;
    font-weight: 300;
    color: var(--primary-col);
    margin-bottom: 10px;
}
.car-extended-description{
    font-size: 14px;
    font-weight: 300;
    color: rgb(155, 154, 154);
    margin-bottom: 10px;
}
.car-extended-specs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.car-extended-specs .title{
    font-size: 18px;
    font-weight:600;
    color: var(--primary-col);
    margin-bottom: 10px;
}
.car-extended-spec-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}
.car-extended-spec-item .title{
    font-size: 12px;
    font-weight: 300;
    color: rgb(155, 154, 154);
}
    
.car-extended-spec-item p{
    font-size: 15px;
    font-weight: 300;
    color: rgb(199, 198, 198);
}
.car-extended-buttons{
    display: flex;
    align-items: center;
    margin: 10px 10%;
}
.car-extended-buttons button{
    padding: 10px 20px;
    border: 1px solid var(--primary-col);
    outline: none;
    color: var(--primary-col);
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.car-extended-buttons button:hover{
    background-color: var(--primary-col);
    color: white;
}
.no-reviews-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.no-reviews-box p{
    font-size: 12px;
    font-weight: 300;
    color: rgb(155, 154, 154);
}

.review-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin:auto;
}
.review-box .title{
    font-size: 18px;
    font-weight:600;
    color: var(--primary-col);
    margin-bottom: 10px;
}

.review-user{
    display: flex;
    align-items: flex-start;
    padding:10px;
    width: 100%;
    
}

.review-user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(212, 212, 212);
}
.review-comment-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}

.review-user-name{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-col);
}
.review-user-rating{
    font-size: 10px;
    font-weight: 300;
    color: rgb(155, 154, 154);
}

.review-user-comment{
    font-size: 12px;
    font-weight: 300;
    color: rgb(191, 190, 190);
    margin-bottom: 10px;
    width: 100%;
}
.review-border{
    height:2px;
    background-color: rgba(58, 58, 58, 0.364);
    width: 100%;
    border-radius: 5px;
}
.review-rating{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.review-rating p{
    font-size: 10px;
    font-weight: 300;
    color: rgb(155, 154, 154);
    margin-right: 10px;
}
.review-rating select{
    width: 50px;
    border: 1px solid var(--primary-col);
    background-color: transparent;
    outline: none;
    color: rgb(156, 151, 151);
    font-size: 12px;
    font-weight: 300;
    padding: 0 10px;
}
.review-textarea{
    width: 100%;
    height: 70px;
    border: 1px solid var(--primary-col);
    background-color: transparent;
    outline: none;
    color: rgb(156, 151, 151);
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
}
.review-submit{
    width: 100%;
   
}
.review-edit{
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
    
}
.review-button{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--primary-col);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.car-extended-enquery{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    margin-bottom: 10px;
}
.car-extended-enquery .title{
    font-size: 18px;
    font-weight:600;
    color: var(--primary-col);
    margin-bottom: 10px;
}
.enquery-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.enquery-form-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.enquery-form-item label{
    font-size: 14px;
    font-weight: 500;
    color: rgb(155, 154, 154);
    margin-bottom: 5px;
}
.enquery-form-item input{
    width: 100%;
    height: 30px;
    border: 1px solid var(--primary-col);
    background-color: transparent;
    outline: none;
    color: rgb(156, 151, 151);
    font-size: 12px;
    font-weight: 300;
    padding: 0 10px;
    border-radius: 5px;
}
.enquery-form-item textarea{
    width: 100%;
    height: 70px;
    border: 1px solid var(--primary-col);
    background-color: transparent;
    outline: none;
    color: rgb(156, 151, 151);
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
}
.enquery-form-button button{
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--primary-col);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 15px;
}
.enquery-not-available{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgb(18, 14, 23);
    border-radius: 5px;
}
.enquery-not-available p{
    font-size: 12px;
    font-weight: 300;
    color: rgb(155, 154, 154);
}
.enquery-not-available a{
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-col);
    margin-left: 5px;
}
   

