.carpage-container{
    color: white;
    overflow: hidden;
    padding: 0 17%;
    position:relative;
    height: 100%;
    width:100%;
    transition: all 0.5s ease;
    margin-top: 15px;

    
}
.toolbar-container{
    overflow: auto;    
    width: 250px;
    flex-shrink: 0;
    transition: all 0.5s ease;
}

.display-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.search-container{
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    margin-left: 15px;
}
.search-container div{
    margin: auto;
    width: fit-content;
}
.search-container input{
    width: 300px;
    height: 35px;
    border: 1px solid var(--primary-col);
    background-color: transparent;
    outline: none;
    color: rgb(156, 151, 151);
    font-size: 12px;
    font-weight: 300;
    padding: 0 20px;
    margin: 10px auto;
    border-radius: 20px;
}
.display-item-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    transition: all 0.5s ease;
    margin-left: 15px;
    overflow: auto;

}
.display-item{
    height: 300px;
    background-color: var(--bg-container);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}
.display-item .car-image-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: black;
}
.display-item-title{
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    color: var(--primary-col);
}
.display-page-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:15px;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 500;
}
.display-page-count .item-left{
    color: var(--primary-col);
}
.display-page-count button{
    font-size: 16px;
    background-color: var(--primary-col);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 2px 15px;
    margin-left: 10px;
    border-radius: 5px;
}

