@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'poppins', sans-serif;
}
.nav-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.nav-button{
  color: gainsboro;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  font-size: 12px;
}
.nav-button:hover{
  color: aquamarine;
}
.nav-link{
  padding: 10px 20px;
}
.nav-link:hover{
  color: aquamarine;
}